[*.cs]

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none

# CA2211: Non-constant fields should not be visible
dotnet_diagnostic.CA2211.severity = none

# IDE0025: Use expression body for properties
csharp_style_expression_bodied_properties = false

# IDE0027: Use expression body for accessors
csharp_style_expression_bodied_accessors = false

# IDE0066: Convert switch statement to expression
csharp_style_prefer_switch_expression = false
